h1 {
    font-family: 'Poiret One', cursive;
}

p {
    font-family: 'Raleway', serif;
}

body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: center;
    align-items: center;
    background-color: cornsilk;
}